
body {
  background-color: #212121;
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
    background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

#todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#start {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border: 3px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  background-color: aqua; 
  padding:1em;
}

#start:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

#start img {
  width: 200px;
  border-radius: 50%;
}

#opciones {
  display: none;
  gap: 2em;
  margin-top: 20px;
}

.opcion {
  background-color: #757575;
  border: 3px solid #fff;
  border-radius: 50%;
  font-size: 2em;
  padding: 0.8em;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
}

.opcion:hover {
  background-color: aqua;
  transform: scale(1.1);
}

.opcion:active {
  transform: scale(0.9);
}
a {
  /* Resetear todos los atributos */
  all: unset;
}