#contenedorPartida {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    max-width: 800px;
    background-color: #0d47a1;
    /* Azul oscuro */
    border: 3px solid #1976d2;
    /* Azul */
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    cursor: url("../img/puntero.png"), auto;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    user-select: none;
    /* Estándar */
}

#enemigo {
    position: absolute;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    user-select: none;
    /* Estándar */
}

#puntuacion {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #1565c0;
    /* Azul */
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 24px;
}

#cambio {
    position: fixed;
    top: 5em;
    right: 2em;
    background-color: #1565c0;
    /* Azul */
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 24px;
}

#enemigo{
    display: none;
}
